@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Primary blue #1363df */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, 'san-serif';
}
body {
    scroll-behavior: smooth;
}

/* TOGGLER */
.toggler {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border: none !important;
}
.toggler:focus {
    border: none !important;
    outline: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}
.toggler span {
    position: absolute;
    width: 20px;
    height: 4px;
    background: rgb(69, 235, 69);
    border-radius: 4px;
    transition: 0.5s;
}
.toggler span:nth-child(1) {
    transform: translateY(-10px);
    width: 15px;
    left: 10px;
}
.toggler.active span:nth-child(1) {
    width: 20px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}
.toggler span:nth-child(2) {
    transform: translateY(10px);
    width: 10px;
    left: 10px;
}
.toggler.active span:nth-child(2) {
    width: 20px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}
.toggler.active span:nth-child(3) {
    transform: translateX(60px);
}
/* HOME */
.hero-home {
    background: linear-gradient(hsla(0, 0%, 0%, .5), hsla(0, 0%, 13%, .5)),
        url(../assets/background/background1.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    background-position: center !important;
}
.green {
    color: rgb(77, 253, 77);
}
.icon {
    font-size: 3rem !important;
}
.event {
    max-height: 500px !important;
}
.feature {
    background: #e6e6e6;
}
.icon-container {
    background: linear-gradient(0deg, #141414 ,#e6e6e6);
}
.light {
    color: #e6e6e6;
}
.grey {
    color: rgb(199, 199, 199);
}
.ingredients {
    background-color: #141414;
}
.ingredient-img {
    width: 50%;
}
.chef {
    background: linear-gradient(0deg, #e6e6e6, #363636, #141414);
}
.chef .para {
    font-size: 20px;
}
.discover {
    background: linear-gradient(hsla(0, 0%, 0%, .5), hsla(0, 0%, 13%, 0.25)),
        url(../assets/img/home/2.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    background-attachment: fixed;
    object-fit: cover;
    background-position: center !important;
}
/* ABOUT */
.hero-about {
    background: linear-gradient(hsla(0, 0%, 0%, .5), hsla(0, 0%, 13%, 0.25)),
        url(../assets/background/background.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    background-attachment: fixed;
    object-fit: cover;
    background-position: center !important;
}
.about {
    width: 100%;
}
.para {
    font-size: 20px;
}
.person-icon {
    height: auto;
    width: 50px !important;
}
/* SERVICES */
.hero-services {
    background: linear-gradient(hsla(0, 0%, 0%, .5), hsla(0, 0%, 13%, 0.25)),
        url(../assets/background/background2.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    background-position: center !important;
}
.dish {
    width: 100%;
    object-fit: cover;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}
.dish-desc {
    position: absolute;
}
.dish-name {
    font-size: 2rem;
}

/* OFFERS */
.offers {
    width: 50%;
}
.price-box {
    transition: all ease .8s;
    border: 1px solid grey;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.price-box:hover {
    transition: all ease .8s;
    transform: scale(1.1);
    border: 1px solid greenyellow;
}
.fa-square-check {
    color: greenyellow;
}
.book-button {
    background: rgb(77, 253, 77);
}
.book-button:hover {
    background: rgb(69, 235, 69);
}
/* CONTACT */
.contact-left {
    min-width: 50%;
}
/* FORMS */
.form-control {
    outline: none;
    box-shadow: none;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #000;
}
.hero-offer {
    background: linear-gradient(hsla(0, 0%, 0%, .5), hsla(0, 0%, 13%, 0.25)),
        url(../assets/background/background2.jpg) !important;
}
/* FOOTER */
.footer {
    background: linear-gradient(hsla(0, 0%, 13%, 0.5), hsla(0, 0%, 13%, .25)),
        url(../assets/img/drinks.jpg);
    object-fit: cover;
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fa-brands {
    font-size: 1.3rem !important;
}
.fa-brand:hover {
    color: #0f1f38;
}

@media only screen and (max-width: 600px) {
    /* HOME */
    .icon {
        font-size: 2rem !important;
    }
    /* ABOUT */
    .about {
        width: 100%;
    }
    /* SERVICES */
    .dish-img {
        min-height: 50%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* ABOUT */
    .person-icon {
        height: auto;
        width: 50px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* ABOUT */
    .person-icon {
        height: auto;
        width: 50px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
