body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("img/background.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-form {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 1px solid rgb(194, 194, 194);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: 2;
    width: 40%;
    padding: 20px;
  }
  .form {
    width: 80%;
  }
  .form-control {
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
  }
  .form-control:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: none;
  }
  @media only screen and (max-width: 600px) {
   .bg-form {
    width: 80%;
   }
   .form {
    width: 100%;
   }
}

@media only screen and (min-width: 600px) {
  .bg-form {
    width: 80%;
   }
   .form {
    width: 100%;
   }
   
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .bg-form {
    width: 40%;
   }
   .form {
    width: 80%;
   }
}
